body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #fef7e2;
    border-radius: 80px;
    align-items: center;
    padding: 50px;
}

.img-logo {
    width: 5vw;
}

.topbar-icon {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    background-color: sandybrown;
    border-radius: 50px;
    cursor: pointer;
}

.icon3 {
    align-items: center;
    display: flex;
    padding: 20px;
    font-size: 30px;
    color: brown;
}

.card-container {
    width: 15vw;
    min-width: 250px;
    min-height: 45vh;
    background-color: #fef7e2;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.description-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    padding-left: 20px;
}

.add-to-cart {
    padding: 10px 50px;
    background-color: sandybrown;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

.button-container {
    display: flex;
    justify-content: center;

}